<div class="container">
    <div class="row m-2 mb-4">
        <div class="col-lg-4">
            <div>
                <p>Saisissez votre e-mail pour recevoir la newsletter</p>
            </div>
            <div class="d-flex gap-2">
                <input class="form-control" placeholder="Saisir votre email" type="text">
                <button class="btn btn-primary">S'abonner</button>
            </div>
        </div>
        <div class="col-lg-4 text-center socialmedia mt-2">
            <p>Reste Connectés</p>
            <ul>
                <li>
                    <a href="#"><mat-icon>facebook</mat-icon></a>
                </li>
                <li>
                    <a  href="#"><img width="20px"  src="../../../assets/images/social_media/instgaram-removebg-preview.png" alt=""></a>
                </li>
                <li>
                    <a href="#"><img width="20px" src="../../../assets/images/social_media/youtube-removebg-preview.png" alt=""></a>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 text-center">
            <p>Demande de rendez-vous</p>
            <button class="btn btn-primary">Prise de rendez-vous</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="row ">
                <div class="col-lg-6 text-center mb-1">
                    <img width="120px" src="../../../assets/logo.png" alt="">
                </div>
                <div class="col-lg-6 text_footer py-2 text-center mb-2 ">
                    <div><span>Adresse</span>:lorem ipsum lorem ipsum lor454</div>
                    <div><span>Tel:</span>+45454545454545</div>
                    <div><span>Email:</span>lorem ipsum lorem ipsum lor454</div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 text_list py-3 text-center">
            <ul>
                <li><a href="">A propos</a>  </li>
                    <li> <a href="">Nos marques</a>  </li>
                    <li> <a href="">Livraison</a>  </li>
                    <li> <a href="">Contacts</a>  </li>
            </ul>
        </div>
    </div>
    <div class="text-center mt-2 mb-2">
        <p>© 2021 Tous droits réservés.SCTP 2023 Site web développé <a href="https://github.com/TalelMejri">Mejri Talel</a></p>
    </div>
</div>