<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center">
            <img width="70px" src="../../../assets/logo.png" alt="">
            <p class="logo d-flex align-items-center">
              <span class="d-none d-lg-block">Société Carthage Des Travaux Publics</span>
            </p>
      <div class="mx-5" class="btn-toggle">
        <mat-icon (click)="toggleSidebar()">menu</mat-icon>
      </div>
    </div>
    <nav class="header-nav ms-auto mx-5 d-flex gap-4">
        <div>
            <mat-icon matBadge="0" matBadgeColor="warn">favorite</mat-icon>
        </div>
        <div>
            <mat-icon matBadge="0" matBadgeColor="warn">favorite</mat-icon>
        </div>
        <div>
            <mat-icon matBadge="0" matBadgeColor="warn">favorite</mat-icon>
        </div>
    </nav>  
</header>

<aside id="sidebar" class="sidebar" [ngClass]="{'sidebar-open': isSidebarOpen}">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
    </ul>
</aside>

<main id="main" class="main" [ngClass]="{'main-shifted': isSidebarOpen}">
    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div>
</main> 
