  .header {
    transition: all 0.5s;
    z-index: 997;
    height: 60px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    padding-left: 20px;
    div{
        p{
            font-weight: 600;
            margin-top: 10px;
        }
    }
  }

  .sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 996;
    height: 100%;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
  }

  .btn-toggle{
    display: none;
  }

  @media (max-width: 1199px) {
    .sidebar {
      left: -300px;
    }
    .btn-toggle{
      display: block;
    }
  }
  
  .sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
  }
  
  .sidebar::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
  }
  
  @media (min-width: 1200px) {
    #main
   {
      margin-left: 300px;
    }
  }

  #main {
    max-width: 100% ;
    margin-top: 60px;
    padding: 20px 30px;
    overflow: hidden;
    transition: all 0.3s;
  }
  
  @media (max-width: 1199px) {
    #main {
      padding: 20px;
    }
  }

  @media  (max-width: 1199px){
    .sidebar-open {
      margin-left: 300px;
    }
    
    .main-shifted {
      max-width: calc(100% - 300px);
    }
  }
