.sociel_media ul{
    align-items: center;
    display: flex;
    li{
        list-style-type: none;
        margin-right: 15px;
    }
    li a:hover{
        filter: grayscale(500);
    }
    li a .facebook_icon{
        font-size: 25px;
    }
}
.agence_inscrit{
    display: flex;
    gap: 30px;
    align-items: center;
    .icon_mat_local{
       color: red;    
    }
    .icon_mat{
        color: green;
    }
    div{
        display: flex;
        justify-content: space-between;
        gap: 5px;
    }
    div .text a{
     text-decoration: none;
     color: #000;
     font-weight: 500;
    }
}

.image_logo img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
.image_logo img:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.row{
    display: flex;
    align-items: center;
}


.test_navbar{
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}


.large_ecran{
    ul{
        display: flex;
        li{
            list-style-type: none;
            margin-right: 15px;
            a{
                text-decoration: none;
                color: #000;
                font-weight: 500;
                font-size: 16px;
            }
            a:hover{
                color: blue;
                transition: 0.2 all;
            }
        }
    }
}

.navbar_perso{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.bonne_affaires{
    color: red;
    text-decoration: none;
    font-weight: 600;
}
.bonne_affaires:hover{
   border-bottom: 1px solid #000;
   cursor: pointer;
}

.small_ecran{
    display: none;
}


@media screen and (max-width:987px) {
    .small_ecran{
        display: block;
    }
    .large_ecran{
        display: none;
    }
}

