<aside id="sidebar" class="sidebar" [ngClass]="{'sidebar-open': isSidebarOpen}">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link" (click)="link='dash'"  [routerLink]="['dash']">
          <mat-icon>home</mat-icon>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item" [style.color]="link=='cat' ? 'blue' : 'black'">
        <a class="nav-link" (click)="link='cat'" [routerLink]="['categorie']" >
          <mat-icon>add</mat-icon>
          <span>Add Categorie</span>
        </a>
      </li>
    </ul>
</aside>