<div class="w-70 h-40">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators bg-secondary">
          <button type="button" data-bs-target="#carouselExampleIndicators"
            *ngFor="let item of imageUrls;index as i"
            [attr.data-bs-target]="i"
            (click)="test(i)"
            [class.active]="i === index_image"  aria-current="true" ></button>
        </div>
         <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let item of imageUrls;index as i"  [class.active]="i === index_image">
             <img width="200px" height="350px" [src]="item" class="d-block w-100" alt="...">
          </div>
        </div> 
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon " aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

<div class="services">
  <div>
     <img  width="150px" src="../../../assets/images/livraison.png" alt="">
     <p class="text-center">Livraison</p>
  </div>
  <div>
    <img width="100px" src="../../../assets/images/medal.png" alt="">
    <p class="text-center">+300 Marques</p>
 </div>
 <div>
  <img  width="130px" src="../../../assets/images/profuits.png" alt="">
  <p class="text-center">+1000 Produits</p>
</div>
</div>

<mat-card class="example-card m-2">
  <div class="text-center py-5 ">
    <p style="font-weight: 600;font-size: 25px;">Notre Sélection</p>
    <p  style="font-weight: 100;font-size: 25px;">ARTICLES LES PLUS DEMANDés</p>
  </div>
  <mat-card-content class="mt-5 py-2">
    <div class="horizontal-scroll-container">
    <div class="boxes">
      <div class="box" *ngFor="let item of Produits;let i=index "  (click)="scrollToCard(i,'box')">
        <div class="image">
          <p class="promo-label">Promo</p>
          <img src="../../../assets/logo.png" alt="">
        </div>
        <div class="content">
          <div class="text">
            <p>Product Description</p>
          </div>
          <div class="rates">
            <mat-icon class="star-icon">star</mat-icon>
            <mat-icon class="star-icon">star</mat-icon>
            <mat-icon class="star-icon">star</mat-icon>
            <mat-icon class="star-icon">star</mat-icon>
            <mat-icon class="star-icon">star</mat-icon>
          </div>
          <div class="prix">
            5,999 DT
          </div>
        </div>
        <div class="action">
          <button class="btn btn-outline-primary add-to-cart-btn">
            <p class="pt-2">Ajouter au panier</p>
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  </mat-card-content>
</mat-card >


<mat-card class="example-card m-2 mt-2">
  <div class="text-center py-5 ">
    <p style="font-weight: 600;font-size: 25px;color:red">Afariat Sif</p>
    <p  style="font-weight: 100;font-size: 25px;">TOUS NOS OFFRES</p>
  </div>
  <mat-card-content class="mt-5 py-2">
    <div class="horizontal-scroll-container">
    <div class="boxes">
      <div class="boxe" *ngFor="let item of Produits;let i=index "  (click)="scrollToCard(i,'boxe')">
        <div class="image">
          <p class="promo-label">Promo</p>
          <img src="../../../assets/logo.png" alt="">
        </div>
        <div class="content">
          <div class="text">
            <p>Product Description</p>
          </div>
          <div class="rates">
            <mat-icon class="star-icon">star</mat-icon>
            <mat-icon class="star-icon">star</mat-icon>
            <mat-icon class="star-icon">star</mat-icon>
            <mat-icon class="star-icon">star</mat-icon>
            <mat-icon class="star-icon">star</mat-icon>
          </div>
          <div class="prix">
            5,999 DT
          </div>
        </div>
        <div class="action">
          <button class="btn btn-outline-primary add-to-cart-btn">
            <p class="pt-2">Ajouter au panier</p>
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  </mat-card-content>
</mat-card >
<app-nos-marque-comp></app-nos-marque-comp>


