.horizontal_marques{
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
}

.marques{
    display: inline-flex;
}

.marque:hover{
    cursor: pointer;
}

div p:first-child{
    margin-top: 35px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

div p:last-child{
    font-weight: 200;
    color: gray;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 5px;
}